*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    height: 75px;
    background-color: rgb(33, 33, 33);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.container{
    border: 5px solid black;
    border-style: double;
    height: 600px;
    /* width:max-content; */
    display:flex;
    
    
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
}

h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.form{
    border: 1px solid black;
    border-radius: 5px;
    height: 420px;
    width: 500px;
    margin: 20px;
    padding: 20px;  
    margin-left: 100px; 
    
}

.name{
  font-size: 20px;  
  padding: 20px;
  margin: 20px;
}
.pass{
    font-size: 20px;
  padding: 20px;
  margin: 20px;
}
input{
  color:black;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  /* margin-left: 40px; */
  width:230px;
  margin-bottom: 20px;
  /* background: none; */
}

button{
    color: black;
    font-size: 20px;
    border: 1px solid black;
    margin: 20px;
    margin-top: 30px;
    margin-left: 180px;
    padding: 3px 10px;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
}
.order-list{
    
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 500px;
    margin: 20px;
}

.order-list li{
    border: 1px solid black;
    margin: 20px;
    border-radius: 2px;
    text-align: center;
}

.table-data{
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 500px;
    margin: 20px;  
    text-align: center;

}
table{
    margin: 30px;
    margin-left: 120px;  
}

th{
    background-color: rgb(68, 66, 66);
    color: aliceblue;
}
table td,th{
    text-transform: capitalize;     
    border: 1px solid black;
    padding: 6px;
    padding-right: 40px;
    border-radius: 5px;
}
.right{
    margin-left: 50px;
}

.footer{
    height: 80px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    margin-top: 10px;
    border: 1px solid white;
}