
/* shift alt down 
ctrl D */


*{
    /* background-color: beige; */
    backdrop-filter: blur(1px);
    
    
     
}

body{
    background-image: url(https://i.pinimg.com/1200x/de/c0/e1/dec0e1d86817d93e3a89b4f25cb15ab7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0px;

}

.form{
  box-sizing: border-box;
  width: 350px;
  height: 400px;
  border: 1px solid rgb(235, 228, 228);
  margin-top: 120px;
  margin-left: 35%;
  border-radius: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: none;
  color: aliceblue;
  /* position: fixed;
  bottom: 0; */

}

.form h1{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: aliceblue;
}

.name{
  padding: 20px;
  margin: 20px;
}
.pass{
  padding: 20px;
  margin: 20px;
}
input{
    color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  margin-left: 40px;
  width:230px;
  margin-bottom: 20px;
  background: none;
}

button{
    color: aliceblue;
    border: 1px solid white;
    margin: 10px;
    padding: 3px 30px;
    border-radius: 3px;
    margin-left: 110px;
    background: none;
}

button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(188, 181, 181);

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px ;
    background-color: none;
      
}

.navbar ul{
    font-weight:bolder;
    font-size: large;
    list-style:none;
    display: flex;
    
}

 .navbar ul li {
      margin: 10px 50px;
      
    }

 .navbar ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    /* border: 1px solid black; */
 }   

 .navbar h1{
    margin-right: 300px;
    border-bottom: 1px solid black;
    border-right:1px solid black ;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px;
    }

    h1::first-letter{
        font-size: 45px;
    }
   