main{
    display: flex;
    margin-top: 50px;
}

main p{
    padding: 50px;
    /* width: 80%; */
    width: fit-content;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-left: 40px;
}

main img{
    padding: 10px;
    height: 550px;
    width: 450px;
    margin-right: 150px;
    border: 1px solid black;
    border-radius: 5px;
}