.usercard{
    background-color:antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    width:max-content;
    height: 220px;
    padding: 20px;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card h1{
    text-align: center;
    padding: 10px;
    
}