.usercard{
    background-color:antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    width:max-content;
    height: 220px;
    padding: 20px;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.field{
    padding: 10px;
}

label{
    font-size: larger;
    font-weight: 600;
}