*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   
    /* background-image: url(https://media.istockphoto.com/id/532286115/photo/runner-tying-shoelaces-in-the-road.jpg?s=2048x2048&w=is&k=20&c=7EJJifjQ2BwVVMGtPW7oNZ3hhU73SO9yy04NpIlxFPM=);
    background-size:cover;
    background-repeat: no-repeat; */
    
}

.container{
    /* background-color: aquamarine; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: max-content;

}

.card1{
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2hvZXN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    transition: .5s;
    
}
.card1:hover{
    cursor: pointer;
    transform:scale(1.1);
    
}
.card2{
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1603808033192-082d6919d3e1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHNob2VzfGVufDB8fDB8fHww);
    background-size: cover;
    transition: .5s;
}
.card2:hover{
    cursor: pointer;
    transform:scale(1.1)
}
.card3{
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1600269452121-4f2416e55c28?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c25lYWtlcnN8ZW58MHx8MHx8fDA%3D);
    background-size:contain;
    transition: .5s;
}
.card3:hover{
    cursor: pointer;
    transform:scale(1.1)
}
.card4{
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1512374382149-233c42b6a83b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c25lYWtlcnN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    transition: .5s;
}
.card4:hover{
    cursor: pointer;
    transform:scale(1.1)
}
.card5{
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1543508282-6319a3e2621f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzh8fHNuZWFrZXJzfGVufDB8fDB8fHww);
    background-size: cover;
    transition: 0.5s;
}
.card5:hover{
    cursor: pointer;
    transform:scale(1.1)
}


.img{
    height: 300px;
    width: 200px;
    background-image: url(https://media.istockphoto.com/id/532286115/photo/runner-tying-shoelaces-in-the-road.jpg?s=2048x2048&w=is&k=20&c=7EJJifjQ2BwVVMGtPW7oNZ3hhU73SO9yy04NpIlxFPM=);
    background-size:cover;
    background-repeat: no-repeat; 
}
