*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div{
    background: rgb(86, 201, 213);
    border-radius: 5px;
    color: aliceblue;
    text-transform: capitalize;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.toast-container {
  padding: 10px;
  background-color: aquamarine;
  position: fixed;
  bottom: -0;
  right: 5px;
  width: 200px;
}


.toast-container .toast {
  min-width: 400px;
  height: 40px;
  background: #000;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #000;
  border: 1px solid #fff;
  animation:toast-appear 0.3s ease-in-out forwards;
  opacity: 0;
  color: white;
  padding: 0 10px;
  text-transform: capitalize;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(100px);
  margin-top: 4px;
}


@keyframes toast-appear {
  0% {
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toast button {
  width: 20px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}