.container{
  width: 100%;
  height: 100vh;
  background: rgba(113, 117, 118, 0.918);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.form{
  height: 300px;
  width: 200px;
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.form .item-container{
  display: flex;
  flex-direction: column;
}

button{
  justify-content: center ;
  width: 60px;
  margin-top: 50px;
}