@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Lobster+Two:wght@400;700&family=Outfit:wght@100..900&family=Poppins:wght@100&display=swap');

*{
    font-family: Outfit;
}